* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dadada;
}

.wrapper {
    width: 25vw;
    height: 90vh;
}

.player {
    width: 25vw;
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.visual-block {
    width: 100%;
    height: 55%;
    background: #000;
}

.song-info {
    padding: 0 15px;
}

.title-wrapper {
    overflow: hidden;
}

.song-title {
    width: fit-content;
    font-size: 44px;
    font-weight: 700;
    white-space: nowrap;
}

.author-title {
    font-size: 14px;
    font-weight: 700;
}

.album-info {
    font-size: 14px;
}

.player-panel {
    padding: 0 15px;
}

.progress-bar-outer {
    width: 100%;
    height: 8px;
    padding: 2px;
    background: #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.progress-bar-inner {
    height: 4px;
    width: 0;
    background: #111;
    border-radius: 3px;
}

.song-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.song-time>p {
    font-size: 14px;
    color: #333;
}

.controls {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controls svg {
    cursor: pointer;
}

.pause {
    display: none;
}

.prev {
    transform: rotate(180deg);
}

.change-volume__input {
    height: 10px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

.change-volume__input:focus {
    outline: none;
}

.change-volume__input::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #353535;
    background: #cecece;
    border-radius: 5px;
    border: 0px solid #f3c846;
}

.change-volume__input::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #353535;
    border: 0px solid #f3c846;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}

.change-volume__input:focus::-webkit-slider-runnable-track {
    background: #cecece;
}

.change-volume__input::-moz-range-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #353535;
    background: #cecece;
    border-radius: 5px;
    border: 0px solid #f3c846;
}

.change-volume__input::-moz-range-thumb {
    box-shadow: 0px 0px 0px #353535;
    border: 0px solid #f3c846;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #000000;
    cursor: pointer;
}

.change-volume__input::-ms-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.change-volume__input::-ms-fill-lower {
    background: #cecece;
    border: 0px solid #f3c846;
    border-radius: 15px;
    box-shadow: 0px 0px 0px #353535;
}

.change-volume__input::-ms-fill-upper {
    background: #cecece;
    border: 0px solid #f3c846;
    border-radius: 15px;
    box-shadow: 0px 0px 0px #353535;
}

.change-volume__input::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #353535;
    border: 0px solid #f3c846;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #000000;
    cursor: pointer;
}

.change-volume__input:focus::-ms-fill-lower {
    background: #cecece;
}

.change-volume__input:focus::-ms-fill-upper {
    background: #cecece;
}

@keyframes rollTitle {
    10% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(var(--rollTitle), 0);
    }

    60% {
        transform: translate(var(--rollTitle), 0);
    }

    100% {
        transform: translate(0, 0);
    }
}