* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dadada;
}

.wrapper {
    width: 340px;
    height: 600px;
    position: relative;
    transition: .3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 35px;
    z-index: 1;
}

.wrapper-open-list {
    width: calc(340px + 275px - 40px);
}

.player {
    position: relative;
    width: 340px;
    height: 100%;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.visual-block {
    width: 100%;
    height: 55%;
    background: #000;
}

.song-info {
    padding: 0 15px;
}

.title-wrapper,
.author-wrapper {
    overflow: hidden;
}

.song-title {
    width: fit-content;
    font-size: 44px;
    font-weight: 700;
    white-space: nowrap;
}

.song-author {
    width: fit-content;
    font-size: 14px;
    font-weight: 700;
    white-space: nowrap;
}

.album-info {
    font-size: 14px;
}

.player-panel {
    padding: 0 15px;
}

.progress-bar-outer {
    width: 100%;
    height: 8px;
    padding: 2px;
    background: #ccc;
    border-radius: 3px;
    cursor: pointer;
}

.progress-bar-inner {
    height: 4px;
    width: 0;
    background: #111;
    border-radius: 3px;
}

.song-time {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.song-time>p {
    font-size: 14px;
    color: #333;
}

.controls {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

.controls svg {
    cursor: pointer;
}

.pause {
    display: none;
}

.prev {
    transform: rotate(180deg);
}

.change-volume__input {
    height: 10px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

.change-volume__input:focus {
    outline: none;
}

.change-volume__input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #353535;
    background: #cecece;
    border-radius: 5px;
    border: 0px solid #f3c846;
}

.change-volume__input::-webkit-slider-thumb {
    height: 11px;
    width: 11px;
    border-radius: 15px;
    background: #000000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -1px;
}

@keyframes rollText {
    10% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(var(--rollText), 0);
    }

    60% {
        transform: translate(var(--rollText), 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.open-list-btn {
    position: absolute;
    right: -15px;
    top: calc(50% - 25px);
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    z-index: 10;
}

.opened .open-list-btn-triangle {
    transform: rotate(180deg);
}

.player-list {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 275px;
    padding: 25px 10px 0 60px;
    padding-top: 25px;
    border-radius: 35px;
    background: #fff;
    z-index: 0;
}

.list {
    height: 90%;
    width: 100%;
    overflow-y: auto;
}

.list::-webkit-scrollbar {
    width: 7px;

}

.list::-webkit-scrollbar-track {
    background: #fff;
}

.list::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 20px;
    cursor: pointer;
}

.list-search-input {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
}

.list-item {
    padding: 2px 5px;
    cursor: pointer;
    overflow: hidden;
}

.list-item-title {
    font-weight: 700;
    white-space: nowrap;
}

.list-item-author {
    font-size: 10px;
    white-space: nowrap;
}

.list-item:hover {
    background: #ccc;
}